<html  xmlns:th="http://www.thymeleaf.org">
<head>    
  <h1 th:text="${title}"></h1>   
  <style>
    td, th {
    	padding: 5px;
    }
  	table, th, td {
  		border: 1px solid black;
  		border-collapse: collapse;
	}
</style>
</head>    
<body>     
  <table style={border  1px}>
    <tr><th>Branch ID</th>
        <th>Branch  Name</th>
        <th>Branch Location</th>
      
    </tr>
    <tr th:each="d : ${entries}">
        <td th:text="${d.branch_id}">N/A</td>
        <td th:text="${d.branch_name}">N/A</td>
        <td th:text="${d.branch_location}">N/A</td> 
      
    </tr> 
</table>
</body>    
</html>  